.navigation {
  display: flex; 
  justify-content: space-between;
  gap: 15px;
}

.advancedMenuNavigation {
  display: flex;
  justify-content: center;
  gap: 10px; 
  align-items: center;
  width: 150px;
  height: 35px;
  background-color: rgba(63, 63, 70, 0.03); 
  border-radius: 5px;
}

.advancedMenuNavigationIcon {
  padding: 1px;
  
}

.componentSwitcher {
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.downIcon {
  width: 15px; 
  height: 15px: 
}

.modeSwitcher {
  display: flex; 
  height: 35px;
  justify-content: space-evenly; 
  align-items: center;
  border-radius: 5px;
  background-color: rgba(63, 63, 70, 0.03) !important;
}

.doodle-button {
  display: flex;
  height: 35px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.00);
  color: #2d2d2d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.doodle-button:hover {
  display: flex;
  padding: 0 15px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(109, 40, 217, 0.05);
  color: #6D28D9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.doodle-button-clicked {
  display: flex;
  padding: 0 15px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #bda7d3;
  color: #6D28D9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;  
}


.high-fidelity-button {
  display: flex;
  height: 35px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.00);
  color: #2d2d2d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  
}

.high-fidelity-button:hover {
  display: flex;
  height: 35px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(109, 40, 217, 0.05);
  color: #6D28D9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.functional-button {
  display: flex;
  height: 35px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.00);
  color: #2d2d2d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.functional-button:hover {
  display: flex;
  height: 35px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(109, 40, 217, 0.05);
  color: #6D28D9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}